<!doctype html>
<html lang="pt-br">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <title>CovidApp - vMarques</title>
  </head> 
  <body>
    
    <div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center" >
      <h1 class="display-1" >Covid-19 <img style="max-width: 8vw; margin-bottom: 15px;" src="/static/img/covid.png"></h1>

      
    <div class="container col-xxl-8 px-4 py-5">
      <div class="row col-12">

        <div class="col-sm-12 col-lg-4">
          <div class="card">
            <div class="card-body bg-success">
              <h5 class="card-title text-light">Recuperados</h5>
               
               <h5 class="card-title text-light">Em Acompanhamento</h5>
               
              <!-- <a href="#" class="btn btn-primary">Go somewhere</a> -->
            </div>
          </div>
        </div>
        <div class="col-sm-6 col-lg-4">
          <div class="card">
            <div class="card-body bg-primary">
              <h5 class="card-title text-light">Casos Confirmados</h5>
              
              <h5 class="card-title text-light">Casos Novos</h5>
             
              <!-- <a href="#" class="btn btn-primary">Go somewhere</a> -->
            </div>
          </div>
        </div>
        <div class="col-sm-6 col-lg-4">
          <div class="card">
            <div class="card-body bg-dark">
              <h5 class="card-title text-light">Óbitos</h5>
              
              <h5 class="card-title text-light">Novos Óbitos</h5>
             
              <!-- <a href="#" class="btn btn-primary">Go somewhere</a> -->
            </div>
          </div>
        </div>
        <p>
          Fonte: <a href="https://www.worldometers.info/coronavirus/">https://www.worldometers.info/coronavirus/</a>
        </p>
        
      </div>
    </div>
      <div class="row">

        <div class="col-10 col-sm-8 col-lg-6">
           <h1 class="display-4  lh-1 mb-3">Procure um País</h1>
        </div>
      </div>
          
  
      <h1 class="display-5 fw-bold" style="margin: auto; margin-top: 4vw">Como se Proteger?</h1>

      <!-- Quadros-->

      <footer class="d-flex flex-wrap justify-content-between align-items-center border-top">
        <div class="col-md-4 d-flex align-items-center">
          <a href="/" class="mb-3 me-2 mb-md-0 text-muted text-decoration-none lh-1">
            <svg class="bi" width="30" height="24"><use xlink:href="#bootstrap"/></svg>
          </a>
          <span class="text-muted"><img style="max-width: 4vw; margin-bottom: 15px;" src="/static/img/logo.png">&copy; 2021 - Vinicius Marques de Oliveira</span>
        </div>

        <ul class="nav col-md-4 justify-content-end list-unstyled d-flex">
          
          <li class="ms-3"><a class="text-muted" href="https://www.instagram.com/vini.marques__/"><img style="max-width: 3vw; margin-bottom: 15px;" src="/static/img/insta-logo.svg"></a></li>
          
        </ul>
      </footer>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>

    
    </script>
  </body>
</html>
